
.schedule__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.schedule__date {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.schedule__title, .schedule__date {
  text-align: center;
}
.schedulePage {
  &.mb-40 {
    margin-bottom: 40px;
  }
    &.mb-80 {
    margin-bottom: 80px;
  }
  .schedule_desc {
font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.0012em;
color: #FFFFFF;
max-width: 832px;
margin-bottom: 24px;
  }
}
.schedule__title, .schedule__date {
  text-align: left;
}
@media(min-width: 768px) {

}
@media(min-width: 1024px) {

  .schedule__date  {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 140%;

  }
}
@media(min-width: 1300px) {
  .title-margin {
.schedule__title {
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 16px;
}
  }
}